/* html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

#root {
  max-width: 85%;
  margin: 0 auto;
}

.header {
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  height: 100px;
  width: 85%;
  margin-left: 500px;
  overflow: hidden;
  list-style: none;
}

.nav li {
  margin-right: 30px;
  line-height: 100px;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav a:hover {
  color: blue;
}

.logo {
  font-size: 100px;
  font-weight: 700 ;
}

h1 {
  display: block;
}

.footer {
  height: 100px;
  line-height: 100px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: rgb(75, 74, 74);
}

h2 {
  font-size: 40px;
}

h6 {
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  margin-right: 10px;
}

h2 span {
  color: blue;
}

.boton-contacta {
  display: inline-block;
  background-color: blue;
  color: white;
  height: 35px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-decoration: none;
  line-height: 35px;
  padding: 0 8px;
}

.proyectos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proyecto {
  margin-bottom: 20px;
}

.proyecto h4 {
  font-size: 30px;
  margin-top: 0.5px;
}

.proyecto p {
  margin-top: -40px;
}

.proyecto img {
  height: 500px;
  width: 500px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.titulo {
  font-size: 30px;
}

.conocimientos{
  list-style: none;
  width: 90%;
}

.conocimientos li {
  font-size: 30px;
  margin: 10px;
}

.formulario{
  height: 500px;
  display: flex;
  flex-direction: column;
}

.formulario input{
  margin-top: 10px;
  height: 8%;
  width: 30%;
}

.formulario textarea {
  margin-top: 10px;
  height: 15%;
  width: 30%;
}

.formulario input[type=submit] {
  color: rgb(46, 46, 46);
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(46, 46, 46);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.formulario input[type=submit]:hover {
  background-color: blue;
  color: white;
} */